*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #e8ac65, #2e6f95);
}

.calc-grid {
    display: grid;
    margin-top: 4rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
}

.calc-grid > button {
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, .6);
}

.calc-grid > button:hover,
.calc-grid > button.focus {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
    word-break: break-all;
}