*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #e8ac65, #2e6f95);
}

.calc-grid {
    display: grid;
    margin-top: 3rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 5rem);
}


.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
}